extends layout

block content
    div(class='container')
        h1(class='center-align') Компании дружественные js.
        div(class='row')
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/b-logo.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Multi Brains
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/resilio.svg" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Resilio
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/synesis.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Synesis
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/b-logo.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Multi Brains
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/resilio.svg" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Resilio
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/synesis.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Synesis
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/b-logo.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Multi Brains
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/resilio.svg" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Resilio
            div(class='col s12 m12 l6')
                div(class='card-panel hoverable')
                    p
                        img(src="/images/synesis.png" class='responsive-img frendly-company-logo')
                        div(class='divider')
                        p Synesis
