extends layout

block content
    div(class='container')
        h1(class='center-align') jscommunity.by
        div(class='row')
            div(class='col s12 m12 l12')
                p(class='center-align') Сайт сообщества javascript программистов в Беларуси.