extends layout

block content
    div(class='container')
        div(class='valign-wrapper', style='height:1080px')
                div(class='valign', style='width:100%')
                    h1(class='center-align') Javascript сообщество в Беларуси
                    p(class='center-align flow-text')  Приветствую вас в javascript сообществе в Беларуси, у него много целей, но сейчас цель появиться :)
                    p(class='center-align flow-text')  Приглашаю всех желающих в чат jscommunityby.slack.com для обсуждения каким оно должно быть, что бы Вы хотели в нем увидеть.
                    p(class='center-align flow-text')  Сообществу нужна Ваша помощь :)