doctype html
html
    head
        title jscommunity.by | растём вместе
        link(rel = 'stylesheet', href = '/stylesheets/style.css')
        script(src = '/javascripts/materialize.min.js')
    body
        block content