extends layout

block content
  div(class="container")
    h1 Login
    if (flash.length)
      ul(class='alert alert-danger')
        each val in flash
          li= val
    form(action='/login' method='post')
      div(class="form-group")
        label Email
        input(type='text' name='username' class="form-control")
      div(class="form-group")
        label Password
        input(type='password' name='password' class="form-control")
      div(class="form-group")
        input(type='submit' value='Log In' class="btn btn-primary")
